---
layout: videoheader
slogan: 'Stories in Motion'
---

<br><br><br>

<div class="recentprojectconstrain">
<div class="projectstitle">Our recent projects</div>

<div class="grid-container">

{% for post in site.categories.production | limit: 3 %}
<a href="{{post.url}}">
<div class="grid-33 mobile-grid-100 blockhome">
<div class="attop">
  <div class="largeimage" style="background-image:url('{% if post.largeimage %}{{site.baseurl}}/image/{{post.largeimage}}{% else %}{{site.baseurl}}/image/productions/comingsoon.png{% endif %}');"></div><br>
  </div>   
    <div class="atbottom"><div class="panel-heading panelhead-prods">{{ post.title }}</div>
   </div>
   </div>
</a>
{% endfor %}
</div></div>

<!-- Column 1 -->
</div>
