<div class="pagecontent">


<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

<div class="grid-container">
      <div class="grid-33 mobile-grid-100 noborder">
      {{ site.description }}<br>
      </div>

      <div class="grid-33 mobile-grid-100 noborder">
      
      </div>

      <div class="grid-33 mobile-grid-100 noborder rightbox">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright {{ site.title }} - <script>document.write(new Date().getFullYear())</script></p>
        <br>
        <div class="siteby"><a href="//northfolk.co.uk"><span class="siteby1">Site by</span> <div class="sitebyimg"></div></a></div>
      </div>
    </div>

  </div>

</footer>