<div class="overlaysocial">
<a href="//twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter page-link social-link" aria-hidden="true"></i></a>
<a href="//facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook page-link social-link" aria-hidden="true"></i></a>
<a href="//youtube.com/channel/{{ site.youtube_channel_id }}"><i class="fa fa-youtube page-link social-link" aria-hidden="true"></i></a>
<a href="//instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram page-link social-link" aria-hidden="true"></i></a>
<a href="//vimeo.com/{{ site.vimeo_username }}"><i class="fa fa-vimeo page-link social-link" aria-hidden="true"></i></a>
<a href="//flickr.com/{{ site.flickr_username }}"><i class="fa fa-flickr page-link social-link" aria-hidden="true"></i></a>
</div>